@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,600,700');

* {
    box-sizing: border-box;
   
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: black;
    color: white;
    margin: 0px;
    padding: 0px;

}

header {
    /* background-color: #161616; */
    /* margin-bottom: 20px; */
    display: flex;
    justify-content: space-between;
    width: 100%;

}



#logo {
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 30px;
    padding-left: 30px;
}



#hamburger {
    /* padding-right: 15px; */
    font-size: 24px;
    padding-top: 20px;
    margin-right: 20px;
}

nav ul {
    display: none;

}

ul {
    list-style: none;
    padding-right: 10px;


}

li {
    display: inline-block;
    /* float: left; */
    /* padding: 10px; */
    padding-top: 30px;
    padding-right: 20px;
    color: #a5a5a5;
}

#dropDown {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: none;
}
#dropDown ul{
    /* display: block; */
    margin: 0 auto;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.dropdownpoint {
    display: block;
    text-align: center;
    padding: 0px;
    padding-top: 10px; 
    padding-bottom: 10px; 
    border-bottom: 1px dotted #353535;

}

.dropdownpoint:hover {
    background-color: #1a1a1a;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}


/* .dropdownpoint a:hover {
    color: white;
} */

li a {
    color: #a5a5a5;
    font-size: 16px;
 }

.secretgallery {
    /* display: none; */
}


#mainarea {
    width: 70%;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}


h2 {
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 0px;
    margin-top: 5px;
    margin-bottom: 4px;
}

.introwelcome { 
    font-weight: 200;
    font-size: 18px;
    color: #999999;
    padding-bottom: 15px;
    font-style: italic
}


.imagecurse {
    width: 80%;
    max-height: 500px;
    max-width: 500px;
    /* max-height: 500px; */
}

.aboutimage {
    width: 60% 
    
}
.buttonarea {
    margin: 0 auto;
    display: flex;
    /* flex-direction: column; 
    align-content: center; */
    flex-wrap: wrap;

}
.button {
    width: 240px;
    height: 50px;    
    border-width: 1px;
    border-radius: 50px;
    background-color: black;
    border-color: #454545;
    color: #b8b8b8;
    font-size: 18px;
    font-weight: 200px;
    letter-spacing: 3.5px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;

}

.button:active {
    background-color: #353535;
}

.button:hover {
    background-color: #0f0f0f;
}

.secretgallerybutton {
    display: none;
    padding-top: 20 px;
}

.again {
    margin-top: 30px;
}
 
footer {
    text-align: center;
    font-size: 10px;
    font-weight: 200;
    padding-top: 100px;
}

.wrapper {
    margin: 0 auto;
}

p { 
    font-weight: 200;
    font-size: 18px;
    color: #999999;
    padding-bottom: 30px;
    font-style: italic;
    text-align: center;
}

.listpoem {
    margin-bottom: 80px;
}

.social {
    color: #cbcbcb;
    }
@media only screen and (max-width: 400px){

li {
    font-size: 12px;
}
    .imagecurse {
        width: 100%;
    }
    .aboutimage {
        width: 100%;
    }

    h2 {
        font-weight: 600;
        font-size: 20px;
        padding-bottom: 10px;
    }
    
    .introwelcome {
        font-size: 14px;
    }

    .button {
        width: 200px;
        height: 40px;    
        border-width: 1px;
        border-radius: 50px;
        background-color: black;
        border-color: #454545;
        color: #b8b8b8;
        font-size: 14px;
        font-weight: 200px;
        letter-spacing: 3.5px;
        margin-bottom: 20px;
    }
}

.responsive-image {
    max-width: 90%;
    margin: 0 auto;
}

.cell img {
    display: block;
    padding-bottom: 35px;
}




@media only screen and (min-width: 401px){

    nav i {
        display: none;
    }
    
    #hamburger {
        display: none;
    }
    nav ul {
        display: unset;
    
    }

    li {
        display: inline-block;
        /* float: left; */
        /* padding: 10px; */
        padding-top: 30px;
        padding-right: 20px;
        color: #a5a5a5;
    }
    
    a {
        text-decoration: none;
        color: white;
    }

    li a {
       color: #a5a5a5;
       font-size: 14px;
    }

}


@media only screen and (max-width: 500px){
    #logo {
        font-size: 22px;
        margin-top: 26px;
    }

ul {
    margin-left: 0px;
    padding-left: 0px;
    font-size: 13px;
}
}

@media screen and (min-width: 600px){
    .grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .cell {
        width: 50%;
    }

    ul {
        margin-left: 0px;
        padding-left: 0px;
        font-size: 16px;
    }
}

@media only screen and ( min-width: 960px){
    .aboutimage {
        width: 60%;
    }

    .imagecurse {
        width: 60%;
    }

    #logo {
        font-weight: 700;
        letter-spacing: 3px;
        font-size: 30px;
        padding-left: 150px;
    }
    
    nav {
        padding-right: 100px;
    }

    li a {
        font-size: 16px;
     }
 

     .cell {
         width: calc(100% /3);
     }

     #gallery {
         margin: 0 auto;
         max-width: 1300px;
     }
}